<div class="articl">
    <img src="/src/articl-previews/<%= articl.preview %>" alt="">
    <div class="text">
        <div class="top">
            <div class="title">
                <a href="../../../../articls/<%= articl.url %>" class="text"><%= articl.title %></a>
                <div class="public-time"><%= articl.public_time %></div>
            </div>
            <div class="description"><%= articl.description %></div>
        </div>
        <div class="bottom">
            <% if(articl.file == 1) { %>
                <div class="item">
                    <img src="/src/icons/download.png" alt="">
                    <div class="num"><%= articl.downloads %></div>
                </div>
            <% } %>

            <div class="item">
                <img src="/src/icons/likes.png" alt="">
                <div class="num"><%= articl.likes %></div>
            </div>
            <div class="item">
                <img class="dislikes" src="/src/icons/likes.png" alt="">
                <div class="num"><%= articl.dislikes %></div>
            </div>
            <div class="item">
                <img src="/src/icons/views.png" alt="">
                <div class="num"><%= articl.views %></div>
            </div>
            <div class="item">
                <img src="/src/icons/comments.png" alt="">
                <div class="num"><%= articl.comments %></div>
            </div>
        </div>
    </div>
</div>